<!DOCTYPE html>
<html lang="en" ng-app="crawljaxApp">
<head>
	<meta charset="utf-8">
    <title>Crawljax UI Beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/wrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	
	 <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<a class="brand" href="http://www.crawljax.com" target="_blank">Crawljax Web-UI Beta</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a ui-sref="config">Configurations</a></li>
						<li><a ui-sref="plugins">Plugins</a></li>
						<li><a ui-sref="history">History</a></li>
						<li><a href="http://www.crawljax.com/about" target="_blank">About</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="span3">
				<ol class="breadcrumb well" ng-controller="BreadcrumbController" id="breadcrumb">
					<li ng-repeat="link in links" ng-class="{'active': $last}">
						<a ui-sref="{{link.target}}" ng-if="!$last">{{link.text}}</a>
						<span ng-if="$last">{{link.text}}</span>
					</li>
				</ol>
				<div ng-controller="SideNavController" id="sideNav">
					<div class="well sidebar-nav" ng-if="links.length > 0">
						<ul class="nav nav-list">
							<li ng-repeat="link in links">
								<a ui-sref="{{link.target}}" ng-if="link.action != true"><i class="{{link.icon}}"></i> {{link.text}}</a>
								<a ng-click="rest(link)" ng-if="link.action == true"><i class="{{link.icon}}"></i> {{link.text}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div ng-controller="CrawlQueueController" id="crawlQueue" class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">CRAWL EXECUTION QUEUE</li>
						<li ng-repeat="item in queue" ng-if="queue.length > 0">
							<span>
								<a ng-click="goToCrawl(item.crawlStatus, item.id)">#{{item.id}}</a>	
								{{item.configurationName}} - <i>{{item.crawlStatus}}</i>
							</span>
						</li>
						<li ng-if="queue.length == 0">
							<i>empty</i>
						</li>
					</ul>
				</div>
				<div id="notification" class="alert alert-mute">Notifications</div>
			</div>
			<div class="span9">
				<div ui-view></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/libs/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/libs/angular.js"></script>
	<script type="text/javascript" src="js/libs/angular-ui-router.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/validation.js"></script>
	
</body>
</html>
