<form id="config_form" class="form-horizontal">
	<fieldset>
		<legend>Invariants</legend>
		<table class="table table-striped table-condensed" ng-if="config.invariants.length > 0">
			<tbody>
				<tr ng-repeat="invariant in config.invariants">
					<td>
						<select ng-model='invariant.condition' ng-options="option.value as option.name for option in pageConditions"></select>
					</td>
					<td>
						<input class="input-xlarge" type="text" ng-model="invariant.expression" required="true" />
						<span class="hint">This field is required.</span>
					</td>
					<td>
						<a ng-click="configAdd.deleteInvariant(config, $index)">Remove</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a ng-click="configAdd.addInvariant(config)">Add a New Condition</a>
	</fieldset>
</form>