@echo off
echo Compiling generated tests source files...
javac -cp "%~dp0\\${libsClassPath}\*" "%~dp0\\${generatedTestsJavaFilePath}"
echo Running generated tests...
java -cp "%~dp0\\${libsClassPath}\*";"%~dp0\\${generatedTestsSourceFolder}" org.testng.TestNG ${testngXMLFile}