<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="test Suite">
    <test name="test">
        <classes>
            <class name="${generatedTestsQualifiedClassName}" />
        </classes>
    </test>
</suite>